@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 800%;

  -webkit-animation: AnimationName 6s linear infinite;
  -moz-animation: AnimationName 6s linear infinite;
  animation: AnimationName 6s linear infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

  